[Unit]
Description=nova-agent service
Requires=xe-linux-distribution.service
After=xe-linux-distribution.service

[Service]
Environment=PYTHONPATH=/usr/share/nova-agent/1.39.1/lib/python2.6:/usr/share/nova-agent/1.39.1/lib/python2.6/site-packages
Environment=LD_LIBRARY_PATH=/usr/share/nova-agent/1.39.1/lib
ExecStart=/usr/sbin/nova-agent -n -l info /usr/share/nova-agent/1.39.1/nova-agent.py

[Install]
WantedBy=multi-user.target
